.row.entry{"data-entry"=>"#{entry.id}"}
  .span7
    %h2=entry.title.html_safe rescue ''
    .content=entry.content.html_safe rescue ''
  .span2.offset1.meta
    =entry.published_at rescue ''
    =link_to entry.feed.title, entry.feed.url