/* Cosmo 2.3.1
 * Bootswatch
 *= require_self
 *= require cosmo/loader
 *= require font-awesome/font-awesome
*/


.entry {
  /*padding: 15px;*/
  margin-bottom: 60px;
  padding-bottom: 30px;
  border-bottom:1px dotted #ddd;
 }

 .meta {
  margin-top: 20px;
 }

 .sidebar {
  font-family: monaco, monospace;
  font-size: smaller;
  position:fixed;
  overflow:auto;
 }

 .form-horizontal .form-field {
  padding-top:5px;
 }