=render :partial => 'layouts/header'

%body
  .navbar.navbar-inverse
    .navbar-inner
      .container
        
        / %a.brand blogactivo
        =link_to 'blogactivo', root_path, :class => 'brand'

        .nav-collapse
          %ul.nav
            - if user_signed_in?
              %li=link_to 'posts', root_path
              %li=link_to 'reader', reader_path
              %li=link_to current_user.email, edit_user_password_path
              %li=link_to 'logout', destroy_user_session_path, :method => :delete
            - else
              %li=link_to 'login', new_user_session_path
        
        .pull-right
          %button.btn.btn-primary{'data-toggle' => 'modal', 'data-target' => '#new-post-modal'} Post
          %button.btn.btn-primary{'data-toggle' => 'modal', 'data-target' => '#new-feed-modal'} Subscribe

  -if flash.present?
    .container
      .row
        -if flash[:notice].present?
          %p#notice.alert.alert-success= flash[:notice]
        -if flash[:error].present?
          %p#error.alert-error= flash[:error]
        -if flash[:warning].present?
          %p#warning.alert= flash[:warning]

.container
  .row
    .span2.sidebar
      =yield :sidebar
    #main.span10.offset2
      =yield

=render :partial => 'layouts/footer'

=render :partial => 'feeds/new_feed_modal'
=render :partial => 'posts/new_post_modal'